body {
    background: url("Images/bkg.png") no-repeat center center fixed;
    background-size: 99%;
    background-color: rgb(104, 135, 68);
    background-repeat: repeat-x;
    animation: animatedbackground 2000s linear infinite;
}
@keyframes animatedbackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 400000%;
    }
}

div {
    display: flex;
    justify-content: center;
}

/*h1 {*/
    /*font-family: 'Amatic SC', cursive;*/
    /*font-size: 115px;*/
    /*position: absolute;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*left: 30%;*/
    /*right: 0;*/
    /*color: rgb(58, 81, 96);*/
/*}*/

img.currentimage {
    width: 200px;
    height: 200px;
}
img.currentphoneme {
    width: 150px;
    height: 150px;
}

.draggable {
    height: 40px;
    padding: 0.5em;
    float: left;
    margin: 10px 10px 10px 0;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.train {
   display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    height: 100%;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 10px;
}

.Initial {
    display: flex;
    width: 300px;
    height: 300px;
    float: left;
    margin: 10px;
}
.Medial {
    display: flex;
    width: 390px;
    height: 250px;
    margin-left: -35px;
    margin-right: -38px;
    float: left;
    margin-top: 10px;
}
.Final {
    display: flex;
    width: 390px;
    height: 250px;
    float: left;
    margin-top: 10px;
}

.buttonpic {
    display: flex;
    justify-content: center;
    display: inline-block;
    height: 100px;
}

.frontsideupper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: -100px;

}

.frontsidelower{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
}

.gameside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 275px;
    margin-top: 80px;
}

.gamesidephoneme {
    display: flex;
    flex-direction: column;
    justify-content: left;
    max-height: 100px;
    margin-left: 50px;
}

.speaker {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;

}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#header {
    display: flex;
    align-content: space-between;
    justify-content: center;
    width: 100%;
    height: fit-content;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.15);
    z-index: 2;
    font-family: 'Amatic SC', cursive;
    font-size: 115px;
    position: absolute;
    margin-right: auto;
    margin-top: 75px;
    right: 0;
    text-decoration-color: rgb(58, 81, 96);
}

#playphoneme {
    padding-top: 20px;
    padding-left: 55px;
}
